@import "tailwindcss";
@import "tailwindcss/utilities";

@layer components {
  .nav__link {
    @apply relative text-xl font-semibold text-white block w-fit;
  }

  .nav__link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #facc15; /* Tailwind yellow-400 */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
}